In [1]:
import pandas as pd
import yfinance as yf
from datetime import timedelta
import pandas_ta as ta

In [2]:
tickers = ['TSLA', 'RIVN', 'AAPL','NVDA']
years = 5

In [3]:
def data_download_daily(tickers, years):
    today = pd.Timestamp.today()
    days_in_years = 365*years
    start_date = (today - timedelta(days=days_in_years)).strftime('%Y-%m-%d')
    end_date = today
    days_in_years = 365*years
    prices_df = pd.DataFrame()
    for ticker in tickers:
        data = yf.download(ticker, start = start_date, end= end_date, interval='1D')
        prices_df[ticker] = data['Adj Close']
    return prices_df

In [4]:
prices_df = data_download_daily(tickers=tickers, years=years)
prices_df

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                                 TSLA   RIVN        AAPL        NVDA
Date
2019-03-04 00:00:00-05:00   19.024000    NaN   42.322651   38.930641
2019-03-05 00:00:00-05:00   18.436001    NaN   42.245632   38.866074
2019-03-06 00:00:00-05:00   18.416000    NaN   42.002556   37.756107
2019-03-07 00:00:00-05:00   18.439333    NaN   41.516392   37.063313
2019-03-08 00:00:00-05:00   18.942667    NaN   41.615070   37.405991
...                               ...    ...         ...         ...
2024-02-23 00:00:00-05:00  191.970001  10.07  182.520004  788.169983
2024-02-26 00:00:00-05:00  199.399994  10.70  181.160004  790.919983
2024-02-27 00:00:00-05:00  199.729996  11.14  182.630005  787.010010
2024-02-28 00:00:00-05:00  202.039993  11.30  181.419998  776.630005
2024-02-29 00:00:00-05:00  200.559998  11.30  180.399994  793.158630

[1258 rows x 4 columns]

In [5]:
def calculate_my_strategy(input_df):
    for ticker in input_df.columns:
        input_df[ticker + '_upper_50'] =   input_df[ticker].rolling(window = 45).mean() + abs(input_df[ticker].rolling(window = 90).mean())*0.5
        input_df[ticker + '_lower_50'] =   input_df[ticker].rolling(window = 45).mean() - abs(input_df[ticker].rolling(window = 90).mean())*0.5
        input_df[ticker + '_rolling_50'] = input_df[ticker].rolling(window = 50).mean()

In [6]:
my_strat = calculate_my_strategy(prices_df)
my_strat

In [7]:
def calculate_donchian(prices_df):
    donchian_df = pd.DataFrame(index=prices_df.index)  # DataFrame to store Donchian channels
    for ticker in prices_df.columns:
            donchian_df[[f"{ticker}_dcl",f"{ticker}_dcm", f"{ticker}_dcu"]] = prices_df.ta.donchian(high = prices_df[ticker], low = prices_df[ticker], lower_length = 40, upper_length = 50)

    return donchian_df

In [8]:
prices_df

,TSLA,RIVN,AAPL,NVDA,TSLA_upper_50,TSLA_lower_50,TSLA_rolling_50,RIVN_upper_50,RIVN_lower_50,RIVN_rolling_50,AAPL_upper_50,AAPL_lower_50,AAPL_rolling_50,NVDA_upper_50,NVDA_lower_50,NVDA_rolling_50
Date,,,,,,,,,,,,,,,,
2019-03-04 00:00:00-05:00,19.024000,NaN,42.322651,38.930641,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-05 00:00:00-05:00,18.436001,NaN,42.245632,38.866074,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-06 00:00:00-05:00,18.416000,NaN,42.002556,37.756107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-07 00:00:00-05:00,18.439333,NaN,41.516392,37.063313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-08 00:00:00-05:00,18.942667,NaN,41.615070,37.405991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-02-23 00:00:00-05:00,191.970001,10.07,182.520004,788.169983,324.880167,102.793611,217.1118,26.523944,8.863167,18.0632,280.969329,94.838710,188.773331,868.269530,336.690024,590.844199
2024-02-26 00:00:00-05:00,199.399994,10.70,181.160004,790.919983,323.292389,101.811611,216.3596,26.170833,8.609611,17.9130,280.640365,94.477495,188.507294,876.655810,341.409520,597.131199
2024-02-27 00:00:00-05:00,199.729996,11.14,182.630005,787.010010,321.932611,101.064278,215.5684,25.854611,8.390722,17.7422,280.407764,94.178910,188.205740,885.385081,346.275806,603.253799
2024-02-28 00:00:00-05:00,202.039993,11.30,181.419998,776.630005,320.541055,100.124277,214.5882,25.544000,8.155556,17.5196,280.152139,93.856228,187.876989,893.727454,350.676989,609.116399
2024-02-29 00:00:00-05:00,200.559998,11.30,180.399994,793.158630,319.277333,99.077778,213.5294,25.246778,7.923444,17.2890,279.894256,93.538410,187.538625,902.569789,355.383928,615.201572

In [9]:
donchain_df = calculate_donchian(prices_df)
donchain_df.tail(5)

,TSLA_dcl,TSLA_dcm,TSLA_dcu,RIVN_dcl,RIVN_dcm,RIVN_dcu,AAPL_dcl,AAPL_dcm,AAPL_dcu,NVDA_dcl,...,AAPL_rolling_50_dcu,NVDA_upper_50_dcl,NVDA_upper_50_dcm,NVDA_upper_50_dcu,NVDA_lower_50_dcl,NVDA_lower_50_dcm,NVDA_lower_50_dcu,NVDA_rolling_50_dcl,NVDA_rolling_50_dcm,NVDA_rolling_50_dcu
Date,,,,,,,,,,,,,,,,,,,,,
2024-02-23 00:00:00-05:00,181.059998,221.25,261.440002,10.07,17.21,24.35,180.949097,189.403313,197.857529,475.690002,...,190.681884,698.238406,783.253968,868.269530,238.925287,287.807655,336.690024,464.239323,527.541761,590.844199
2024-02-26 00:00:00-05:00,181.059998,221.25,261.440002,10.07,17.21,24.35,180.949097,189.403313,197.857529,475.690002,...,190.681884,699.683647,788.169729,876.655810,240.085751,290.747636,341.409520,465.356896,531.244047,597.131199
2024-02-27 00:00:00-05:00,181.059998,221.25,261.440002,10.07,17.21,24.35,180.949097,189.403313,197.857529,475.690002,...,190.681884,701.619674,793.502377,885.385081,241.592691,293.934248,346.275806,466.822838,535.038318,603.253799
2024-02-28 00:00:00-05:00,181.059998,221.25,261.440002,10.07,17.21,24.35,180.949097,189.133659,197.318222,475.690002,...,190.681884,703.422018,798.574736,893.727454,243.277255,296.977122,350.676989,468.036978,538.576689,609.116399
2024-02-29 00:00:00-05:00,181.059998,221.25,261.440002,10.07,17.21,24.35,180.399994,188.544510,196.689026,475.690002,...,190.681884,705.016700,803.793245,902.569789,244.825933,300.104930,355.383928,469.274106,542.237839,615.201572

In [10]:
aapl = yf.download('AAPL', start = '2020-01-01', end= '2024-02-28', interval='1D')
aapl

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-02 00:00:00-05:00,74.059998,75.150002,73.797501,75.087502,73.059425,135480400
2020-01-03 00:00:00-05:00,74.287498,75.144997,74.125000,74.357498,72.349136,146322800
2020-01-06 00:00:00-05:00,73.447502,74.989998,73.187500,74.949997,72.925621,118387200
2020-01-07 00:00:00-05:00,74.959999,75.224998,74.370003,74.597504,72.582634,108872000
2020-01-08 00:00:00-05:00,74.290001,76.110001,74.290001,75.797501,73.750237,132079200
...,...,...,...,...,...,...
2024-02-21 00:00:00-05:00,181.940002,182.889999,180.660004,182.320007,182.320007,41529700
2024-02-22 00:00:00-05:00,183.479996,184.960007,182.460007,184.369995,184.369995,52292200
2024-02-23 00:00:00-05:00,185.009995,185.039993,182.229996,182.520004,182.520004,45074500
2024-02-26 00:00:00-05:00,182.240005,182.759995,180.649994,181.160004,181.160004,40867400
2024-02-27 00:00:00-05:00,181.100006,183.919998,179.559998,182.630005,182.630005,54318900

In [11]:
aapl.rename(columns={'High':'aapl_high', 'Low':'aapl_low'}, inplace=True)
aapl

,Open,aapl_high,aapl_low,Close,Adj Close,Volume
Date,,,,,,
2020-01-02 00:00:00-05:00,74.059998,75.150002,73.797501,75.087502,73.059425,135480400
2020-01-03 00:00:00-05:00,74.287498,75.144997,74.125000,74.357498,72.349136,146322800
2020-01-06 00:00:00-05:00,73.447502,74.989998,73.187500,74.949997,72.925621,118387200
2020-01-07 00:00:00-05:00,74.959999,75.224998,74.370003,74.597504,72.582634,108872000
2020-01-08 00:00:00-05:00,74.290001,76.110001,74.290001,75.797501,73.750237,132079200
...,...,...,...,...,...,...
2024-02-21 00:00:00-05:00,181.940002,182.889999,180.660004,182.320007,182.320007,41529700
2024-02-22 00:00:00-05:00,183.479996,184.960007,182.460007,184.369995,184.369995,52292200
2024-02-23 00:00:00-05:00,185.009995,185.039993,182.229996,182.520004,182.520004,45074500
2024-02-26 00:00:00-05:00,182.240005,182.759995,180.649994,181.160004,181.160004,40867400
2024-02-27 00:00:00-05:00,181.100006,183.919998,179.559998,182.630005,182.630005,54318900

In [12]:
aapl[['dcl', 'dcm', 'dcu']] = aapl.ta.donchian(high = 'aapl_high',low = 'aapl_low', lower_length=40, upper_length=50)
aapl

,Open,aapl_high,aapl_low,Close,Adj Close,Volume,dcl,dcm,dcu
Date,,,,,,,,,
2020-01-02 00:00:00-05:00,74.059998,75.150002,73.797501,75.087502,73.059425,135480400,NaN,NaN,NaN
2020-01-03 00:00:00-05:00,74.287498,75.144997,74.125000,74.357498,72.349136,146322800,NaN,NaN,NaN
2020-01-06 00:00:00-05:00,73.447502,74.989998,73.187500,74.949997,72.925621,118387200,NaN,NaN,NaN
2020-01-07 00:00:00-05:00,74.959999,75.224998,74.370003,74.597504,72.582634,108872000,NaN,NaN,NaN
2020-01-08 00:00:00-05:00,74.290001,76.110001,74.290001,75.797501,73.750237,132079200,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2024-02-21 00:00:00-05:00,181.940002,182.889999,180.660004,182.320007,182.320007,41529700,179.25,189.434998,199.619995
2024-02-22 00:00:00-05:00,183.479996,184.960007,182.460007,184.369995,184.369995,52292200,179.25,189.434998,199.619995
2024-02-23 00:00:00-05:00,185.009995,185.039993,182.229996,182.520004,182.520004,45074500,179.25,189.434998,199.619995
2024-02-26 00:00:00-05:00,182.240005,182.759995,180.649994,181.160004,181.160004,40867400,179.25,189.434998,199.619995
2024-02-27 00:00:00-05:00,181.100006,183.919998,179.559998,182.630005,182.630005,54318900,179.25,189.434998,199.619995

In [13]:
donchain = calculate_donchian(prices_df)
donchain

,TSLA_dcl,TSLA_dcm,TSLA_dcu,RIVN_dcl,RIVN_dcm,RIVN_dcu,AAPL_dcl,AAPL_dcm,AAPL_dcu,NVDA_dcl,...,AAPL_rolling_50_dcu,NVDA_upper_50_dcl,NVDA_upper_50_dcm,NVDA_upper_50_dcu,NVDA_lower_50_dcl,NVDA_lower_50_dcm,NVDA_lower_50_dcu,NVDA_rolling_50_dcl,NVDA_rolling_50_dcm,NVDA_rolling_50_dcu
Date,,,,,,,,,,,,,,,,,,,,,
2019-03-04 00:00:00-05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-05 00:00:00-05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-06 00:00:00-05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-07 00:00:00-05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-08 00:00:00-05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-02-23 00:00:00-05:00,181.059998,221.25,261.440002,10.07,17.21,24.35,180.949097,189.403313,197.857529,475.690002,...,190.681884,698.238406,783.253968,868.269530,238.925287,287.807655,336.690024,464.239323,527.541761,590.844199
2024-02-26 00:00:00-05:00,181.059998,221.25,261.440002,10.07,17.21,24.35,180.949097,189.403313,197.857529,475.690002,...,190.681884,699.683647,788.169729,876.655810,240.085751,290.747636,341.409520,465.356896,531.244047,597.131199
2024-02-27 00:00:00-05:00,181.059998,221.25,261.440002,10.07,17.21,24.35,180.949097,189.403313,197.857529,475.690002,...,190.681884,701.619674,793.502377,885.385081,241.592691,293.934248,346.275806,466.822838,535.038318,603.253799
2024-02-28 00:00:00-05:00,181.059998,221.25,261.440002,10.07,17.21,24.35,180.949097,189.133659,197.318222,475.690002,...,190.681884,703.422018,798.574736,893.727454,243.277255,296.977122,350.676989,468.036978,538.576689,609.116399
2024-02-29 00:00:00-05:00,181.059998,221.25,261.440002,10.07,17.21,24.35,180.399994,188.544510,196.689026,475.690002,...,190.681884,705.016700,803.793245,902.569789,244.825933,300.104930,355.383928,469.274106,542.237839,615.201572