In [1]:
import pandas as pd
import yfinance as yf
from datetime import timedelta
import pandas_ta as ta

In [2]:
tickers = ['TSLA', 'RIVN', 'AAPL','NVDA']
years = 5

In [3]:
def data_download_daily(tickers, years):
    today = pd.Timestamp.today()
    days_in_years = 365*years
    start_date = (today - timedelta(days=days_in_years)).strftime('%Y-%m-%d')
    end_date = today
    days_in_years = 365*years
    prices_df = pd.DataFrame()
    for ticker in tickers:
        data = yf.download(ticker, start = start_date, end= end_date, interval='1D')
        prices_df[ticker] = data['Adj Close']
    return prices_df

In [4]:
prices_df = data_download_daily(tickers=tickers, years=years)
prices_df

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                                 TSLA    RIVN        AAPL        NVDA
Date
2019-03-04 00:00:00-05:00   19.024000     NaN   42.322643   38.930630
2019-03-05 00:00:00-05:00   18.436001     NaN   42.245632   38.866066
2019-03-06 00:00:00-05:00   18.416000     NaN   42.002552   37.756107
2019-03-07 00:00:00-05:00   18.439333     NaN   41.516388   37.063316
2019-03-08 00:00:00-05:00   18.942667     NaN   41.615067   37.405987
...                               ...     ...         ...         ...
2024-02-26 00:00:00-05:00  199.399994  10.700  181.160004  790.919983
2024-02-27 00:00:00-05:00  199.729996  11.140  182.630005  787.010010
2024-02-28 00:00:00-05:00  202.039993  11.300  181.419998  776.630005
2024-02-29 00:00:00-05:00  201.880005  11.320  180.750000  791.119995
2024-03-01 00:00:00-05:00  202.289902  11.555  177.686096  817.715027

[1259 rows x 4 columns]

In [5]:
def calculate_my_strategy(input_df):
    strat = input_df.copy()
    for ticker in input_df.columns:
        strat[ticker + '_upper_50'] =   strat[ticker].rolling(window = 45).mean() + abs(strat[ticker].rolling(window = 90).mean())*0.5
        strat[ticker + '_lower_50'] =   strat[ticker].rolling(window = 45).mean() - abs(strat[ticker].rolling(window = 90).mean())*0.5
        strat[ticker + '_rolling_50'] = strat[ticker].rolling(window = 50).mean()
    return strat

In [6]:
my_strat = calculate_my_strategy(prices_df)
my_strat

,TSLA,RIVN,AAPL,NVDA,TSLA_upper_50,TSLA_lower_50,TSLA_rolling_50,RIVN_upper_50,RIVN_lower_50,RIVN_rolling_50,AAPL_upper_50,AAPL_lower_50,AAPL_rolling_50,NVDA_upper_50,NVDA_lower_50,NVDA_rolling_50
Date,,,,,,,,,,,,,,,,
2019-03-04 00:00:00-05:00,19.024000,NaN,42.322643,38.930630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-05 00:00:00-05:00,18.436001,NaN,42.245632,38.866066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-06 00:00:00-05:00,18.416000,NaN,42.002552,37.756107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-07 00:00:00-05:00,18.439333,NaN,41.516388,37.063316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-08 00:00:00-05:00,18.942667,NaN,41.615067,37.405987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-02-26 00:00:00-05:00,199.399994,10.700,181.160004,790.919983,323.292389,101.811611,216.359600,26.170833,8.609611,17.9130,280.640365,94.477495,188.507294,876.655810,341.409520,597.131199
2024-02-27 00:00:00-05:00,199.729996,11.140,182.630005,787.010010,321.932611,101.064278,215.568400,25.854611,8.390722,17.7422,280.407764,94.178910,188.205740,885.385081,346.275806,603.253799
2024-02-28 00:00:00-05:00,202.039993,11.300,181.419998,776.630005,320.541055,100.124277,214.588200,25.544000,8.155556,17.5196,280.152139,93.856228,187.876989,893.727454,350.676989,609.116399
2024-02-29 00:00:00-05:00,201.880005,11.320,180.750000,791.119995,319.314000,99.099778,213.555800,25.247333,7.923778,17.2894,279.903978,93.544243,187.545625,902.513160,355.349950,615.160799
2024-03-01 00:00:00-05:00,202.289902,11.555,177.686096,817.715027,318.052998,97.946554,212.559998,24.951195,7.685028,17.0445,279.597212,93.179103,187.186540,911.977502,360.326721,621.499700

In [8]:
prices_df

                                 TSLA    RIVN        AAPL        NVDA
Date
2019-03-04 00:00:00-05:00   19.024000     NaN   42.322643   38.930630
2019-03-05 00:00:00-05:00   18.436001     NaN   42.245632   38.866066
2019-03-06 00:00:00-05:00   18.416000     NaN   42.002552   37.756107
2019-03-07 00:00:00-05:00   18.439333     NaN   41.516388   37.063316
2019-03-08 00:00:00-05:00   18.942667     NaN   41.615067   37.405987
...                               ...     ...         ...         ...
2024-02-26 00:00:00-05:00  199.399994  10.700  181.160004  790.919983
2024-02-27 00:00:00-05:00  199.729996  11.140  182.630005  787.010010
2024-02-28 00:00:00-05:00  202.039993  11.300  181.419998  776.630005
2024-02-29 00:00:00-05:00  201.880005  11.320  180.750000  791.119995
2024-03-01 00:00:00-05:00  202.289902  11.555  177.686096  817.715027

[1259 rows x 4 columns]

In [9]:
def calculate_donchian(prices_df):
    donchian_df = pd.DataFrame(index=prices_df.index)  # DataFrame to store Donchian channels
    for ticker in prices_df.columns:
            donchian_df[[f"{ticker}_dcl",f"{ticker}_dcm", f"{ticker}_dcu"]] = prices_df.ta.donchian(high = prices_df[ticker], low = prices_df[ticker], lower_length = 40, upper_length = 50)

    return donchian_df

In [11]:
donchain_df = calculate_donchian(prices_df)
donchain_df.tail(5)

,TSLA_dcl,TSLA_dcm,TSLA_dcu,RIVN_dcl,RIVN_dcm,RIVN_dcu,AAPL_dcl,AAPL_dcm,AAPL_dcu,NVDA_dcl,NVDA_dcm,NVDA_dcu
Date,,,,,,,,,,,,
2024-02-26 00:00:00-05:00,181.059998,221.25,261.440002,10.07,17.21,24.35,180.949097,189.403313,197.857529,475.690002,633.304993,790.919983
2024-02-27 00:00:00-05:00,181.059998,221.25,261.440002,10.07,17.21,24.35,180.949097,189.403313,197.857529,475.690002,633.304993,790.919983
2024-02-28 00:00:00-05:00,181.059998,221.25,261.440002,10.07,17.21,24.35,180.949097,189.133659,197.318222,475.690002,633.304993,790.919983
2024-02-29 00:00:00-05:00,181.059998,221.25,261.440002,10.07,17.21,24.35,180.750000,188.719513,196.689026,475.690002,633.404999,791.119995
2024-03-01 00:00:00-05:00,181.059998,221.25,261.440002,10.07,17.21,24.35,177.686096,187.187561,196.689026,479.980011,648.847519,817.715027

In [16]:
prices_df

                                 TSLA    RIVN        AAPL        NVDA
Date
2019-03-04 00:00:00-05:00   19.024000     NaN   42.322643   38.930630
2019-03-05 00:00:00-05:00   18.436001     NaN   42.245632   38.866066
2019-03-06 00:00:00-05:00   18.416000     NaN   42.002552   37.756107
2019-03-07 00:00:00-05:00   18.439333     NaN   41.516388   37.063316
2019-03-08 00:00:00-05:00   18.942667     NaN   41.615067   37.405987
...                               ...     ...         ...         ...
2024-02-26 00:00:00-05:00  199.399994  10.700  181.160004  790.919983
2024-02-27 00:00:00-05:00  199.729996  11.140  182.630005  787.010010
2024-02-28 00:00:00-05:00  202.039993  11.300  181.419998  776.630005
2024-02-29 00:00:00-05:00  201.880005  11.320  180.750000  791.119995
2024-03-01 00:00:00-05:00  202.289902  11.555  177.686096  817.715027

[1259 rows x 4 columns]

In [ ]:
def backtest(reference, ticker, trades):
    max_drawdown=0
    longest_hold=0
    shortest_hold=0
    average_drawdown=0
    max_gain=0
    total_gain= 0