In [1]:
import pandas as pd
import yfinance as yf
from datetime import timedelta
import pandas_ta as ta

In [2]:
tickers = ['TSLA', 'RIVN', 'AAPL','NVDA']
years = 5

In [3]:
def data_download_daily(tickers, years):
    today = pd.Timestamp.today()
    days_in_years = 365*years
    start_date = (today - timedelta(days=days_in_years)).strftime('%Y-%m-%d')
    end_date = today
    days_in_years = 365*years
    prices_df = pd.DataFrame()
    for ticker in tickers:
        data = yf.download(ticker, start = start_date, end= end_date, interval='1D')
        prices_df[ticker] = data['Adj Close']
    return prices_df

In [4]:
prices_df = data_download_daily(tickers=tickers, years=years)
prices_df

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                                 TSLA   RIVN        AAPL        NVDA
Date
2019-03-05 00:00:00-05:00   18.436001    NaN   42.245640   38.866062
2019-03-06 00:00:00-05:00   18.416000    NaN   42.002556   37.756111
2019-03-07 00:00:00-05:00   18.439333    NaN   41.516388   37.063313
2019-03-08 00:00:00-05:00   18.942667    NaN   41.615074   37.405991
2019-03-11 00:00:00-04:00   19.394667    NaN   43.056705   40.013279
...                               ...    ...         ...         ...
2024-02-26 00:00:00-05:00  199.399994  10.70  181.160004  790.919983
2024-02-27 00:00:00-05:00  199.729996  11.14  182.630005  787.010010
2024-02-28 00:00:00-05:00  202.039993  11.30  181.419998  776.630005
2024-02-29 00:00:00-05:00  201.880005  11.32  180.750000  791.119995
2024-03-01 00:00:00-05:00  202.639999  11.35  179.660004  822.789978

[1258 rows x 4 columns]

In [5]:
def calculate_my_strategy(input_df):
    strat = input_df.copy()
    for ticker in input_df.columns:
        strat[ticker + '_upper_50'] =   strat[ticker].rolling(window = 45).mean() + abs(strat[ticker].rolling(window = 90).mean())*0.5
        strat[ticker + '_lower_50'] =   strat[ticker].rolling(window = 45).mean() - abs(strat[ticker].rolling(window = 90).mean())*0.5
        strat[ticker + '_rolling_50'] = strat[ticker].rolling(window = 50).mean()
    return strat

In [6]:
my_strat = calculate_my_strategy(prices_df)
my_strat

,TSLA,RIVN,AAPL,NVDA,TSLA_upper_50,TSLA_lower_50,TSLA_rolling_50,RIVN_upper_50,RIVN_lower_50,RIVN_rolling_50,AAPL_upper_50,AAPL_lower_50,AAPL_rolling_50,NVDA_upper_50,NVDA_lower_50,NVDA_rolling_50
Date,,,,,,,,,,,,,,,,
2019-03-05 00:00:00-05:00,18.436001,NaN,42.245640,38.866062,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-06 00:00:00-05:00,18.416000,NaN,42.002556,37.756111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-07 00:00:00-05:00,18.439333,NaN,41.516388,37.063313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-08 00:00:00-05:00,18.942667,NaN,41.615074,37.405991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-11 00:00:00-04:00,19.394667,NaN,43.056705,40.013279,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-02-26 00:00:00-05:00,199.399994,10.70,181.160004,790.919983,323.292389,101.811611,216.3596,26.170833,8.609611,17.9130,280.640365,94.477495,188.507294,876.655810,341.409520,597.131199
2024-02-27 00:00:00-05:00,199.729996,11.14,182.630005,787.010010,321.932611,101.064278,215.5684,25.854611,8.390722,17.7422,280.407764,94.178909,188.205740,885.385081,346.275806,603.253799
2024-02-28 00:00:00-05:00,202.039993,11.30,181.419998,776.630005,320.541055,100.124277,214.5882,25.544000,8.155556,17.5196,280.152140,93.856228,187.876989,893.727454,350.676989,609.116399
2024-02-29 00:00:00-05:00,201.880005,11.32,180.750000,791.119995,319.314000,99.099778,213.5558,25.247333,7.923778,17.2894,279.903978,93.544243,187.545625,902.513160,355.349950,615.160799
2024-03-01 00:00:00-05:00,202.639999,11.35,179.660004,822.789978,318.062722,97.952389,212.5670,24.945500,7.681611,17.0404,279.652043,93.212001,187.226018,912.118472,360.411303,621.601199

In [7]:
def calculate_donchian(prices_df):
    donchian_df = pd.DataFrame(index=prices_df.index)  # DataFrame to store Donchian channels
    for ticker in prices_df.columns:
        donchian_df[[f"{ticker}_dcl",f"{ticker}_dcm", f"{ticker}_dcu"]] = prices_df.ta.donchian(high = prices_df[ticker], low = prices_df[ticker], lower_length = 40, upper_length = 40)
        donchian_df[f'{ticker}_upper_dcu'] = donchian_df[f'{ticker}_dcu'] - (donchian_df[f'{ticker}_dcu'] - donchian_df[f'{ticker}_dcm'])*0.3
        donchian_df[f'{ticker}_lower_dcl'] = donchian_df[f'{ticker}_dcl'] + (donchian_df[f'{ticker}_dcm'] - donchian_df[f'{ticker}_dcl'])*0.3

    return donchian_df

In [8]:
donchian_df = calculate_donchian(prices_df)
donchian_df.tail(5)

,TSLA_dcl,TSLA_dcm,TSLA_dcu,TSLA_upper_dcu,TSLA_lower_dcl,RIVN_dcl,RIVN_dcm,RIVN_dcu,RIVN_upper_dcu,RIVN_lower_dcl,AAPL_dcl,AAPL_dcm,AAPL_dcu,AAPL_upper_dcu,AAPL_lower_dcl,NVDA_dcl,NVDA_dcm,NVDA_dcu,NVDA_upper_dcu,NVDA_lower_dcl
Date,,,,,,,,,,,,,,,,,,,,
2024-02-26 00:00:00-05:00,181.059998,217.119995,253.179993,242.361993,191.877997,10.07,16.805000,23.540001,21.519501,12.0905,180.949097,187.940178,194.931259,192.833935,183.046421,475.690002,633.304993,790.919983,743.635486,522.974500
2024-02-27 00:00:00-05:00,181.059998,214.769997,248.479996,238.366996,191.172997,10.07,16.764999,23.459999,21.451499,12.0785,180.949097,187.940178,194.931259,192.833935,183.046421,475.690002,633.304993,790.919983,743.635486,522.974500
2024-02-28 00:00:00-05:00,181.059998,214.739998,248.419998,238.315998,191.163998,10.07,15.585000,21.100000,19.445500,11.7245,180.949097,187.940178,194.931259,192.833935,183.046421,475.690002,633.304993,790.919983,743.635486,522.974500
2024-02-29 00:00:00-05:00,181.059998,210.754997,240.449997,231.541497,189.968497,10.07,15.195000,20.320000,18.782500,11.6075,180.750000,187.840630,194.931259,192.804070,182.877189,475.690002,633.404999,791.119995,743.805496,523.004501
2024-03-01 00:00:00-05:00,181.059998,210.754997,240.449997,231.541497,189.968497,10.07,14.825000,19.580000,18.153500,11.4965,179.660004,187.295631,194.931259,192.640571,181.950692,479.980011,651.384995,822.789978,771.368483,531.401506

In [9]:
prices_df

                                 TSLA   RIVN        AAPL        NVDA
Date
2019-03-05 00:00:00-05:00   18.436001    NaN   42.245640   38.866062
2019-03-06 00:00:00-05:00   18.416000    NaN   42.002556   37.756111
2019-03-07 00:00:00-05:00   18.439333    NaN   41.516388   37.063313
2019-03-08 00:00:00-05:00   18.942667    NaN   41.615074   37.405991
2019-03-11 00:00:00-04:00   19.394667    NaN   43.056705   40.013279
...                               ...    ...         ...         ...
2024-02-26 00:00:00-05:00  199.399994  10.70  181.160004  790.919983
2024-02-27 00:00:00-05:00  199.729996  11.14  182.630005  787.010010
2024-02-28 00:00:00-05:00  202.039993  11.30  181.419998  776.630005
2024-02-29 00:00:00-05:00  201.880005  11.32  180.750000  791.119995
2024-03-01 00:00:00-05:00  202.639999  11.35  179.660004  822.789978

[1258 rows x 4 columns]

In [10]:
def backtest(reference, ticker, trades):
    max_drawdown=0
    longest_hold=0
    shortest_hold=0
    average_drawdown=0
    max_gain=0
    total_gain= 0

My strategy

In [11]:
merge = pd.merge(prices_df, donchian_df, how='left', left_index=True, right_index=True)
merge

,TSLA,RIVN,AAPL,NVDA,TSLA_dcl,TSLA_dcm,TSLA_dcu,TSLA_upper_dcu,TSLA_lower_dcl,RIVN_dcl,...,AAPL_dcl,AAPL_dcm,AAPL_dcu,AAPL_upper_dcu,AAPL_lower_dcl,NVDA_dcl,NVDA_dcm,NVDA_dcu,NVDA_upper_dcu,NVDA_lower_dcl
Date,,,,,,,,,,,,,,,,,,,,,
2019-03-05 00:00:00-05:00,18.436001,NaN,42.245640,38.866062,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-06 00:00:00-05:00,18.416000,NaN,42.002556,37.756111,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-07 00:00:00-05:00,18.439333,NaN,41.516388,37.063313,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-08 00:00:00-05:00,18.942667,NaN,41.615074,37.405991,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-11 00:00:00-04:00,19.394667,NaN,43.056705,40.013279,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-02-26 00:00:00-05:00,199.399994,10.70,181.160004,790.919983,181.059998,217.119995,253.179993,242.361993,191.877997,10.07,...,180.949097,187.940178,194.931259,192.833935,183.046421,475.690002,633.304993,790.919983,743.635486,522.974500
2024-02-27 00:00:00-05:00,199.729996,11.14,182.630005,787.010010,181.059998,214.769997,248.479996,238.366996,191.172997,10.07,...,180.949097,187.940178,194.931259,192.833935,183.046421,475.690002,633.304993,790.919983,743.635486,522.974500
2024-02-28 00:00:00-05:00,202.039993,11.30,181.419998,776.630005,181.059998,214.739998,248.419998,238.315998,191.163998,10.07,...,180.949097,187.940178,194.931259,192.833935,183.046421,475.690002,633.304993,790.919983,743.635486,522.974500
2024-02-29 00:00:00-05:00,201.880005,11.32,180.750000,791.119995,181.059998,210.754997,240.449997,231.541497,189.968497,10.07,...,180.750000,187.840630,194.931259,192.804070,182.877189,475.690002,633.404999,791.119995,743.805496,523.004501
2024-03-01 00:00:00-05:00,202.639999,11.35,179.660004,822.789978,181.059998,210.754997,240.449997,231.541497,189.968497,10.07,...,179.660004,187.295631,194.931259,192.640571,181.950692,479.980011,651.384995,822.789978,771.368483,531.401506

1. if lower donchian indicator is crossed from bottom hold until it crosses donchian upper indicator
2. if upper donchian indicator is crossed from the top, hold until its crossed from below the lower donchian indicator

long position column where it says true if open position is opened

short position column where it says true if short postion is opened 

obviously both of them are opened as long as they are not closed 

for my case when one is closed second is opened

longest position is when you have the most consecutive true values for either of those columns

biggest drawdown is when you have the biggest difference form the last highest position in the position, if it dips after peaking during long position or peaks after dipin during a short position

average drawdown is sum of all drawdowns devided by the sum of drawdowns (non 0 values in drawdown column)

max gain and average gain is the opposite of drawdowns

all of these need separate columns

In [12]:
backtest_df = merge.copy()

In [13]:
backtest_df

,TSLA,RIVN,AAPL,NVDA,TSLA_dcl,TSLA_dcm,TSLA_dcu,TSLA_upper_dcu,TSLA_lower_dcl,RIVN_dcl,...,AAPL_dcl,AAPL_dcm,AAPL_dcu,AAPL_upper_dcu,AAPL_lower_dcl,NVDA_dcl,NVDA_dcm,NVDA_dcu,NVDA_upper_dcu,NVDA_lower_dcl
Date,,,,,,,,,,,,,,,,,,,,,
2019-03-05 00:00:00-05:00,18.436001,NaN,42.245640,38.866062,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-06 00:00:00-05:00,18.416000,NaN,42.002556,37.756111,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-07 00:00:00-05:00,18.439333,NaN,41.516388,37.063313,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-08 00:00:00-05:00,18.942667,NaN,41.615074,37.405991,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-11 00:00:00-04:00,19.394667,NaN,43.056705,40.013279,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-02-26 00:00:00-05:00,199.399994,10.70,181.160004,790.919983,181.059998,217.119995,253.179993,242.361993,191.877997,10.07,...,180.949097,187.940178,194.931259,192.833935,183.046421,475.690002,633.304993,790.919983,743.635486,522.974500
2024-02-27 00:00:00-05:00,199.729996,11.14,182.630005,787.010010,181.059998,214.769997,248.479996,238.366996,191.172997,10.07,...,180.949097,187.940178,194.931259,192.833935,183.046421,475.690002,633.304993,790.919983,743.635486,522.974500
2024-02-28 00:00:00-05:00,202.039993,11.30,181.419998,776.630005,181.059998,214.739998,248.419998,238.315998,191.163998,10.07,...,180.949097,187.940178,194.931259,192.833935,183.046421,475.690002,633.304993,790.919983,743.635486,522.974500
2024-02-29 00:00:00-05:00,201.880005,11.32,180.750000,791.119995,181.059998,210.754997,240.449997,231.541497,189.968497,10.07,...,180.750000,187.840630,194.931259,192.804070,182.877189,475.690002,633.404999,791.119995,743.805496,523.004501
2024-03-01 00:00:00-05:00,202.639999,11.35,179.660004,822.789978,181.059998,210.754997,240.449997,231.541497,189.968497,10.07,...,179.660004,187.295631,194.931259,192.640571,181.950692,479.980011,651.384995,822.789978,771.368483,531.401506

In [14]:
column_1 = '_lower_dcl'
column_2 = '_upper_dcu'

In [15]:
for ticker in tickers:
    for date in backtest_df.index:
    # Skip the first date as there is no previous date
        if date == backtest_df.index[0]:
            continue
        
        # Get the index location for the current date
        i = backtest_df.index.get_loc(date)
        
        if backtest_df[ticker].iloc[i-1] < backtest_df[ticker + column_1].iloc[i-1] and backtest_df[ticker].iloc[i] > backtest_df[ticker + column_1].iloc[i]:
            backtest_df.at[date, ticker +'_long_pos'] = 'open_long_position'
        elif backtest_df[ticker].iloc[i-1] > backtest_df[ticker + column_2].iloc[i-1] and backtest_df[ticker].iloc[i] < backtest_df[ticker + column_2].iloc[i]:
            backtest_df.at[date, ticker +'_long_pos'] = 'close_long_position'
        if backtest_df[ticker].iloc[i-1] < backtest_df[ticker + column_1].iloc[i-1] and backtest_df[ticker].iloc[i] > backtest_df[ticker + column_1].iloc[i]:
            backtest_df.at[date, ticker + '_short_pos'] = 'close_short_position'
        elif backtest_df[ticker].iloc[i-1] > backtest_df[ticker + column_2].iloc[i-1] and backtest_df[ticker].iloc[i] < backtest_df[ticker + column_2].iloc[i]:
            backtest_df.at[date, ticker + '_short_pos'] = 'open_short_position'

In [16]:
backtest_df

,TSLA,RIVN,AAPL,NVDA,TSLA_dcl,TSLA_dcm,TSLA_dcu,TSLA_upper_dcu,TSLA_lower_dcl,RIVN_dcl,...,NVDA_upper_dcu,NVDA_lower_dcl,TSLA_long_pos,TSLA_short_pos,RIVN_long_pos,RIVN_short_pos,AAPL_long_pos,AAPL_short_pos,NVDA_long_pos,NVDA_short_pos
Date,,,,,,,,,,,,,,,,,,,,,
2019-03-05 00:00:00-05:00,18.436001,NaN,42.245640,38.866062,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-06 00:00:00-05:00,18.416000,NaN,42.002556,37.756111,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-07 00:00:00-05:00,18.439333,NaN,41.516388,37.063313,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-08 00:00:00-05:00,18.942667,NaN,41.615074,37.405991,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-03-11 00:00:00-04:00,19.394667,NaN,43.056705,40.013279,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-02-26 00:00:00-05:00,199.399994,10.70,181.160004,790.919983,181.059998,217.119995,253.179993,242.361993,191.877997,10.07,...,743.635486,522.974500,open_long_position,close_short_position,NaN,NaN,NaN,NaN,NaN,NaN
2024-02-27 00:00:00-05:00,199.729996,11.14,182.630005,787.010010,181.059998,214.769997,248.479996,238.366996,191.172997,10.07,...,743.635486,522.974500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-02-28 00:00:00-05:00,202.039993,11.30,181.419998,776.630005,181.059998,214.739998,248.419998,238.315998,191.163998,10.07,...,743.635486,522.974500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-02-29 00:00:00-05:00,201.880005,11.32,180.750000,791.119995,181.059998,210.754997,240.449997,231.541497,189.968497,10.07,...,743.805496,523.004501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-03-01 00:00:00-05:00,202.639999,11.35,179.660004,822.789978,181.059998,210.754997,240.449997,231.541497,189.968497,10.07,...,771.368483,531.401506,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
gains = backtest_df[(backtest_df['long_pos'].str.contains('position', na=False)) | 
                    (backtest_df['short_pos'].str.contains('position', na=False))][[ticker, 'long_pos', 'short_pos']]
gains

,TSLA,long_pos,short_pos
Date,,,
2019-05-02 00:00:00-04:00,16.273333,open_long_position,close_short_position
2019-06-04 00:00:00-04:00,12.906667,open_long_position,close_short_position
2019-07-08 00:00:00-04:00,15.356000,close_long_position,open_short_position
2019-07-25 00:00:00-04:00,15.254667,close_long_position,open_short_position
2019-08-19 00:00:00-04:00,15.122000,open_long_position,close_short_position
...,...,...,...
2023-12-20 00:00:00-05:00,247.139999,close_long_position,open_short_position
2023-12-29 00:00:00-05:00,248.479996,close_long_position,open_short_position
2024-02-09 00:00:00-05:00,193.570007,open_long_position,close_short_position
2024-02-15 00:00:00-05:00,200.449997,open_long_position,close_short_position
2024-02-26 00:00:00-05:00,199.399994,open_long_position,close_short_position

In [20]:
long_position = False
short_position = False
long_positions = {}
open_date = []
close_date = []
open_price = []
close_price = []
for date, row in gains.iterrows():
    if long_position == False and 'open' in row['long_pos']:
            open_date.append(date)
            open_price.append(row[ticker])
            long_position = True
    if long_position == True and 'close' in row['long_pos']:
            close_date.append(date)
            close_price.append(row[ticker])
            long_position = False
if len(open_date) > len(close_date):
        close_date.append(pd.Timestamp.today())
if len(open_price) > len(close_price):
        close_price.append(backtest_df[ticker][-1])
            
results = pd.DataFrame({'open_date': open_date, 'close_date': close_date, 'open_price':open_price, 'close_price':close_price})
results['gain'] = (results['close_price'] - results['open_price']) / results['open_price']
results['total'] = None

for i in range(len(results['gain'])):
        if i == 0:
                results['total'][i] = 100 + results['gain'][i] * 100
        else:
                results['total'][i] = results['total'][i-1] + results['total'][i-1] * results['gain'][i]
print(results)

                   open_date                  close_date  open_price  \
0  2019-05-02 00:00:00-04:00   2019-07-08 00:00:00-04:00   16.273333
1  2019-08-19 00:00:00-04:00   2019-09-20 00:00:00-04:00   15.122000
2  2020-03-24 00:00:00-04:00   2020-05-01 00:00:00-04:00   33.666668
3  2021-03-01 00:00:00-05:00   2021-04-22 00:00:00-04:00  239.476669
4  2021-05-24 00:00:00-04:00   2021-07-06 00:00:00-04:00  202.146667
5  2021-12-22 00:00:00-05:00   2022-01-04 00:00:00-05:00  336.290009
6  2022-01-31 00:00:00-05:00   2022-04-06 00:00:00-04:00  312.239990
7  2022-05-26 00:00:00-04:00   2022-07-26 00:00:00-04:00  235.910004
8  2022-09-27 00:00:00-04:00   2023-02-21 00:00:00-05:00  282.940002
9  2023-04-28 00:00:00-04:00   2023-06-23 00:00:00-04:00  164.309998
10 2023-08-21 00:00:00-04:00   2023-09-18 00:00:00-04:00  231.279999
11 2023-11-02 00:00:00-04:00   2023-12-20 00:00:00-05:00  218.509995
12 2024-02-09 00:00:00-05:00  2024-03-03 15:56:38.802761  193.570007

    close_price      gain       total
0     15.356000 -0.056370    94.36297
1     16.041332  0.060794  100.099708
2     46.754665  0.388752  139.013708
3    239.896667  0.001754  139.257512
4    219.860001  0.087626  151.460111
5    383.196655  0.139483   172.58618
6    348.586670  0.116406  192.676286
7    258.859985  0.097283  211.420372
8    197.369995 -0.302432  147.480163
9    256.600006  0.561682  230.317153
10   265.279999  0.147008  264.175607
11   247.139999  0.131024  298.788892
12   202.639999  0.046856  312.789062

/var/folders/t5/l1t1fh155v915jtxdt8k6bw80000gn/T/ipykernel_64517/1729204500.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['total'][i] = 100 + results['gain'][i] * 100
/var/folders/t5/l1t1fh155v915jtxdt8k6bw80000gn/T/ipykernel_64517/1729204500.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results['total'][i] = results['total'][i-1] + results['total'][i-1] * results['gain'][i]

In [21]:
for date, row in gains.iterrows():
    if 'open' in row['long_pos']:
        print(row['long_pos'],'open' in row['long_pos'])
    if 'close' in row['long_pos']:
        print(row['long_pos'], 'close')

open_long_position True
open_long_position True
close_long_position close
close_long_position close
open_long_position True
open_long_position True
close_long_position close
close_long_position close
close_long_position close
close_long_position close
close_long_position close
close_long_position close
close_long_position close
close_long_position close
open_long_position True
close_long_position close
close_long_position close
close_long_position close
close_long_position close
close_long_position close
close_long_position close
close_long_position close
close_long_position close
close_long_position close
close_long_position close
close_long_position close
close_long_position close
open_long_position True
open_long_position True
close_long_position close
close_long_position close
open_long_position True
open_long_position True
close_long_position close
close_long_position close
close_long_position close
close_long_position close
close_long_position close
close_long_position close
close_long_position close
open_long_position True
close_long_position close
open_long_position True
open_long_position True
open_long_position True
open_long_position True
open_long_position True
close_long_position close
open_long_position True
open_long_position True
open_long_position True
open_long_position True
close_long_position close
close_long_position close
close_long_position close
close_long_position close
close_long_position close
close_long_position close
close_long_position close
open_long_position True
open_long_position True
open_long_position True
open_long_position True
open_long_position True
open_long_position True
close_long_position close
close_long_position close
close_long_position close
open_long_position True
open_long_position True
close_long_position close
close_long_position close
open_long_position True
close_long_position close
open_long_position True
close_long_position close
close_long_position close
open_long_position True
open_long_position True
open_long_position True

In [22]:
tsla = merge.filter(regex='TSLA')
tsla['TSLA_upper_dcu'] = tsla['TSLA_dcu'] - (tsla['TSLA_dcu'] - tsla['TSLA_dcm'])*0.3
tsla['TSLA_lower_dcl'] = tsla['TSLA_dcl'] + (tsla['TSLA_dcm'] - tsla['TSLA_dcl'])*0.3

tsla

/var/folders/t5/l1t1fh155v915jtxdt8k6bw80000gn/T/ipykernel_64517/4138719673.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tsla['TSLA_upper_dcu'] = tsla['TSLA_dcu'] - (tsla['TSLA_dcu'] - tsla['TSLA_dcm'])*0.3
/var/folders/t5/l1t1fh155v915jtxdt8k6bw80000gn/T/ipykernel_64517/4138719673.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tsla['TSLA_lower_dcl'] = tsla['TSLA_dcl'] + (tsla['TSLA_dcm'] - tsla['TSLA_dcl'])*0.3

,TSLA,TSLA_dcl,TSLA_dcm,TSLA_dcu,TSLA_upper_dcu,TSLA_lower_dcl
Date,,,,,,
2019-03-05 00:00:00-05:00,18.436001,NaN,NaN,NaN,NaN,NaN
2019-03-06 00:00:00-05:00,18.416000,NaN,NaN,NaN,NaN,NaN
2019-03-07 00:00:00-05:00,18.439333,NaN,NaN,NaN,NaN,NaN
2019-03-08 00:00:00-05:00,18.942667,NaN,NaN,NaN,NaN,NaN
2019-03-11 00:00:00-04:00,19.394667,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
2024-02-26 00:00:00-05:00,199.399994,181.059998,217.119995,253.179993,242.361993,191.877997
2024-02-27 00:00:00-05:00,199.729996,181.059998,214.769997,248.479996,238.366996,191.172997
2024-02-28 00:00:00-05:00,202.039993,181.059998,214.739998,248.419998,238.315998,191.163998
2024-02-29 00:00:00-05:00,201.880005,181.059998,210.754997,240.449997,231.541497,189.968497
2024-03-01 00:00:00-05:00,202.639999,181.059998,210.754997,240.449997,231.541497,189.968497

In [23]:
tsla = tsla[tsla.index >= '2020-01-01']
tsla.columns

Index(['TSLA', 'TSLA_dcl', 'TSLA_dcm', 'TSLA_dcu', 'TSLA_upper_dcu',
       'TSLA_lower_dcl'],
      dtype='object')

In [24]:
import matplotlib.pyplot as plt

# Plot the graph with customized colors and transparency
tsla_plot = tsla[['TSLA', 'TSLA_upper_50', 'TSLA_lower_50', 'TSLA_rolling_50', 'TSLA_dcl', 'TSLA_dcm', 'TSLA_dcu','TSLA_upper_dcu', 'TSLA_lower_dcl']]
tsla_plot = tsla_plot[tsla_plot.index >= '2023-01-01']
tsla_plot['TSLA'].plot(color='darkblue', figsize=(10, 6), label='TSLA')
# tsla_plot['TSLA_rolling_50'].plot(color='orange', label='Rolling Mean')
# tsla_plot['TSLA_dcl'].plot(color='lightblue', label='Donchian Lower', linewidth=1)  # Donchian channels as filled area
# tsla_plot['TSLA_dcu'].plot(color='lightblue', label='Donchian Upper', linewidth=1)  # Donchian channels as filled area
# tsla_plot['TSLA_dcm'].plot(color='purple', label='Donchian Middle')
tsla_plot['TSLA_upper_dcu'].plot(color = 'green', label = 'donchain_upper_indicator', alpha = 0.5)
tsla_plot['TSLA_lower_dcl'].plot(color = 'red', label = 'donchain_lower_indicator',alpha = 0.5)


# Add legend
plt.legend()

# Add title and labels
plt.title('TSLA Data with Donchian Channels')
plt.xlabel('Date')
plt.ylabel('Price')

# Show the plot
plt.show()

KeyError: "['TSLA_upper_50', 'TSLA_lower_50', 'TSLA_rolling_50'] not in index"